/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


/* Header */

.wrapper {
  padding-left: 3.12vw;
  padding-right: 3.12vw;
  margin: 0 auto;
}

.site-header {
  width: 100%;
  padding-top: 52px;
  background-color: $purple;
  position: relative;
}

.header-logo {
  width: 120px;
  position: absolute;
  left: 52px;
}

.header-top-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 25px;
  right: 21px;
}

.header-pnumber {
  font-family: $font__main;
  font-size: 20px;
  font-weight: bold;
  color: $color__background-body;
  margin-right: 25px;
}

.header-donate-button {
  border-radius: 3px;
  background-color: $color__background-body;
  font-family: $font__main;
  font-size: 20px;
  color: $purple;
}

.nav-search {
  margin-top: 36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  a {
    color: $color__background-body;
  }
}

.search-field {
  border: none;
  padding: none;
  margin: none;
  background-color: $purple;
  color: $color__background-body;
}

.search-form {
  border: none;
  padding: none;
  margin: none;
  background-color: $purple;
  color: $color__background-body!important;
  border: 0 !important;
  border-bottom: 2px solid $color__background-body!important;
}

.ffieldset {
  border: 0;
}

.search-submit {
  color: $color__background-body;
  background-color: $purple;
  border: 0;
  overflow: visible;
  font-size: 25px;
}

.main-navigation {
  height: 22px;
  font-family: $font__main;
  font-size: 20px;
  color: $color__background-body;

  li {
    margin-right: 70px;
    color: $color__background-body!important;
  }
}

.escape-button {
  position: fixed;
  top: 50%;
  right: 15px;
  opacity: 0.5;
  z-index: 205;
  width: 88px;
  height: 88px;
}

.top-button {
  position: fixed;
  top: 80%;
  right: 20px;
  opacity: 0.5;
  z-index: 205;
  display: none;
  flex-direction: row;
  cursor: pointer;
  p {
    vertical-align: top;
    margin-left: 5px;
  }
  &.show {
    display: flex;
  }
}

/* Front page */
.top-hero-purple {
  background-color: $purple;
}

.top-hero-blue {
  background-color: $blue;
}

.top-hero-orange {
  background-color: $orange;
}

.top-hero-green {
  background-color: $green;
}

.top-hero {
  width: 100%;
  height: 235px;  
  position: relative;

  h1 {
    width: 741.9px;
    /* height: 207px; */
    font-family: $font__main;
    font-size: 76px;
    font-weight: 900;
    line-height: 0.91;
    color: $color__background-body;
    position: absolute;
    top: 15px;
    z-index: 100;
    margin: 0;
    p {
      margin-top: 0;
      vertical-align: top;
      line-height: 0.6;
    }
  }

  a {
    img {
      position: absolute;
      top: 45%;
      left:3.12%;
      z-index: 99;
      width: 28px;
      height: auto;
      background: transparent;
      display: inline;
    }

    p {
      position: absolute;
      top: 45%;
      left:7%;
      margin: 0;
      z-index: 98;
      color: $color__text-main;
    }
  }

  img {
    width: 83%;
    height: auto;
    background-blend-mode: multiply;
    background-image: linear-gradient(to bottom, #d8d8d8, #d8d8d8);
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

.bottom-hero-black {
  width: 100%;
  height: 360px;
  background-color: $grey;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.black-div {
  height: 100%;
  width: 319px;
  font-family: $font__main;
  font-size: 14px;
  line-height: 0;
  text-align: center;
  color: #d7d6d7;

  h2 {
    margin-top: 90px;
    width: 349.3px;
    height: 36px;
    font-family: $font__main;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: $color__background-body;
  }

  button {
    border-radius: 3px;
    background-color: $color__background-body;
    font-family: $font__main;
    font-size: 20px;
    color: $purple;
  }
}

.white-icon-container {
  padding: 150px 150px 150px 150px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;

  h2 {
    font-family: $font__main;
    font-size: 32px;
    font-weight: bold;
    line-height: 0.91;
    text-align: center;
    color: $purple;
    text-decoration: none !important;
    margin: 0;
  }

  p {
    height: 29px;
    font-family: $font__main;
    font-size: 18px;
    line-height: 1.61;
    color: $color__text-main;
    text-align: center;
    align-self: center;
    margin-top: 0;
  }

  img {
    align-self: center;
  }

  a {
    align-self: center;
    text-decoration: none !important;
  }
}

.fp-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  img {
    align-self: center;
  }
}

.dcta-container {
  height: 381px;
  width: 100%;
  background-color: $purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dcta-title {
  color: $color__background-body;
  width: 670.1px;
  height: 112px;
  font-family: $font__main;
  font-size: 54px;
  font-weight: 900;
  line-height: 1.04;
  text-align: center;
  margin: 0;
}

.dcta-content {
  color: $color__background-body;
  width: 654.1px;
  height: 84px;
  font-family: $font__main;
  font-size: 25px;
  line-height: 1.12;
  text-align: center;
}

.dcta-button {
  border-radius: 3px;
  background-color: $color__background-body;
  font-family: $font__main;
  color: $purple;
  width: 240px;
  height: 73px;
  font-size: 40px;
  font-weight: 900;
}

.dcta-logo {
  position: absolute;
  bottom: 45px;
  right: 70px;
}
/* About Us Page */

.top-hero-green {
  img {
    background-blend-mode: multiply;
    background-image: linear-gradient(to bottom, #d8d8d8, #d8d8d8);
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

.about-navigation {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  h2 {
    font-family: $font__main;
    font-size: 32px;
    font-weight: bold;
    border-bottom: 5px solid $green;
  }
}

.about-text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: 20%;
  h2 {
    font-family: $font__main;
    font-size: 32px;
    font-weight: bold;
  }
  h3 {
    font-family: $font__main;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-family: $font__main;
    font-size: 14px;
    line-height: 1.43;
  }
}

.no-top {
  margin-top: 0;
}

.mission-equity-block {
  display: flex;
  flex-direction: row;
}

.mission-vision-block {
  width: 50%;
}

.equity-vision-block {
  margin-left: 100px;
  width: 50%;
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.about-rest-text {
  margin-bottom: 100px;
  p {
    margin: 0;
  }
}

/* Accessibility Page */
.access-title {
  height: 300px;
  width: 100%;
  font-family: $font__main;
  font-size: 76px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 76px;
  }
}

.access-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 120px;
  margin-right: 160px;
  margin-top: 0;
  margin-bottom: 100px;
}

.appointment-sidebar {
  width: 460px;
  background-color: $green;
  font-family: $font__main;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  margin-right: 40px;
  padding-bottom: 40px;
  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.sidebar-contact {
  margin-top: 40px;
  margin-left: 40px;
  .acc-contact-button {
    margin-top: 25px;
    border-radius: 3px;
    background-color: $color__background-body;
    font-family: $font__main;
    font-size: 20px;
    color: $green;
  }
}

.sidebar-edgewest {
  margin-top: 40px;
  margin-left: 40px;
  .acc-edgewest-button {
    margin-top: 25px;
    border-radius: 3px;
    background-color: $color__background-body;
    font-family: $font__main;
    font-size: 20px;
    color: $green;
  }
}

.acc-content {
  width: 655px;
}
/* Privacy Page */

.privacy-title {
  font-family: $font__main;
  font-size: 76px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.privacy-content {
  margin-right: 270px;
  margin-left: 270px;
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}

/* Footer */
.black-footer {
  background-color: #2c2c2c;
  width: 100%;
  height: 170px;
  color: $color__background-body;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  p {
    margin: 0;
  }
}

.footer-location {
  font-family: $font__main;
  font-size: 18px;
  margin-left: 40px;
  h2 {
    margin: 0;
    font-size: 18px;
  }
}

.footer-social-media {
  margin-right: 0;
  img {
    margin-right: 40px;
  }
}

.white-footer-top {
  position: relative;
}

.footer-nav {
  display: flex;
  justify-content: flex-start;
  margin-top: 45px;
  margin-left: 45px;
  padding: 0;
  font-family: $font__main;
  font-size: 18px;
  color: $color__text-main;
  ul {
    list-style: none;
  }

  li {
    display: inline;
    border-right: 1px solid $color__background-body;
    padding: 0 1rem;
  }

  a {
    color: $color__text-main;
    text-decoration: none;
  }
}

#footer-menu {
  margin-left: 0;
  padding: 0;
}

.white-footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-text {
  margin-left: 45px;
  width: 538px;
  height: 131px;
  font-family: $font__main;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.1px;
  color: $color__text-main;
}

.bottom-footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  a {
    margin-right: 15px;
  }
}


//Program Page

.program {
  .page-content {
    padding-top: 5%;
    article {
      display: flex;
      padding-left:13.26%;
      padding-right: 19.65%;
      padding-top: 1.94%;

      img {
        max-width: 190px!important;
        border-radius: 50%;
      }

      .entry-content {
        padding-left: 2.98%;
        margin-top:0;

        h2 {
          margin-top:0;
          font-size: 32px;
          margin-bottom:0;
        }

      }
      a {
        text-decoration: none;
      }
    }
  }
}

.program-main {
  article a {
    color: $purple;
  }
}

.volunteer {
  .page-extra-info {
    margin-left:27.22%;
    margin-right:27.22%;

    p:not(:first-child) {
      font-weight: bold;
      font-size: 20px;
    }
  }
  article {
    h2 a {
      color:$color__text-main;
    }
    span a {
      color: $green;
    }
  }
}